In [106]:
#importing necessary packages
import scipy as sp
import numpy as np
import pandas as pd
import pandas_profiling as pp
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from imblearn.metrics import classification_report_imbalanced
from matplotlib import pyplot as plt
import random

#set seed
random.seed(420)

#loading csv into dataframe
url = 'https://raw.githubusercontent.com/shantanudeshpande94/bankruptcy-prediction/master/5year.csv'
bankruptcy_df = pd.read_csv(url)

In [107]:
bankruptcy_df.shape

(5910, 65)

In [108]:
#to replace '?' with NA values

bankruptcy_df.replace({'?': None},inplace =True)

In [109]:
#to check null values in a column

bankruptcy_df.isna().sum()

Attr1       3
Attr2       3
Attr3       3
Attr4      21
Attr5      11
         ...
Attr61     15
Attr62      0
Attr63     21
Attr64    107
class       0
Length: 65, dtype: int64

In [110]:
#converting from object to float64

bankruptcy_df['Attr1'] = pd.to_numeric(bankruptcy_df['Attr1'])
bankruptcy_df['Attr2'] = pd.to_numeric(bankruptcy_df['Attr2'])
bankruptcy_df['Attr3'] = pd.to_numeric(bankruptcy_df['Attr3'])
bankruptcy_df['Attr4'] = pd.to_numeric(bankruptcy_df['Attr4'])
bankruptcy_df['Attr5'] = pd.to_numeric(bankruptcy_df['Attr5'])
bankruptcy_df['Attr6'] = pd.to_numeric(bankruptcy_df['Attr6'])
bankruptcy_df['Attr7'] = pd.to_numeric(bankruptcy_df['Attr7'])
bankruptcy_df['Attr8'] = pd.to_numeric(bankruptcy_df['Attr8'])
bankruptcy_df['Attr9'] = pd.to_numeric(bankruptcy_df['Attr9'])
bankruptcy_df['Attr10'] = pd.to_numeric(bankruptcy_df['Attr10'])
bankruptcy_df['Attr11'] = pd.to_numeric(bankruptcy_df['Attr11'])
bankruptcy_df['Attr12'] = pd.to_numeric(bankruptcy_df['Attr12'])
bankruptcy_df['Attr13'] = pd.to_numeric(bankruptcy_df['Attr13'])
bankruptcy_df['Attr14'] = pd.to_numeric(bankruptcy_df['Attr14'])
bankruptcy_df['Attr15'] = pd.to_numeric(bankruptcy_df['Attr15'])
bankruptcy_df['Attr16'] = pd.to_numeric(bankruptcy_df['Attr16'])
bankruptcy_df['Attr17'] = pd.to_numeric(bankruptcy_df['Attr17'])
bankruptcy_df['Attr18'] = pd.to_numeric(bankruptcy_df['Attr18'])
bankruptcy_df['Attr19'] = pd.to_numeric(bankruptcy_df['Attr19'])
bankruptcy_df['Attr20'] = pd.to_numeric(bankruptcy_df['Attr20'])
bankruptcy_df['Attr21'] = pd.to_numeric(bankruptcy_df['Attr21'])
bankruptcy_df['Attr22'] = pd.to_numeric(bankruptcy_df['Attr22'])
bankruptcy_df['Attr23'] = pd.to_numeric(bankruptcy_df['Attr23'])
bankruptcy_df['Attr24'] = pd.to_numeric(bankruptcy_df['Attr24'])
bankruptcy_df['Attr25'] = pd.to_numeric(bankruptcy_df['Attr25'])
bankruptcy_df['Attr26'] = pd.to_numeric(bankruptcy_df['Attr26'])
bankruptcy_df['Attr27'] = pd.to_numeric(bankruptcy_df['Attr27'])
bankruptcy_df['Attr28'] = pd.to_numeric(bankruptcy_df['Attr28'])
bankruptcy_df['Attr29'] = pd.to_numeric(bankruptcy_df['Attr29'])
bankruptcy_df['Attr30'] = pd.to_numeric(bankruptcy_df['Attr30'])
bankruptcy_df['Attr31'] = pd.to_numeric(bankruptcy_df['Attr31'])
bankruptcy_df['Attr32'] = pd.to_numeric(bankruptcy_df['Attr32'])
bankruptcy_df['Attr33'] = pd.to_numeric(bankruptcy_df['Attr33'])
bankruptcy_df['Attr34'] = pd.to_numeric(bankruptcy_df['Attr34'])
bankruptcy_df['Attr35'] = pd.to_numeric(bankruptcy_df['Attr35'])
bankruptcy_df['Attr36'] = pd.to_numeric(bankruptcy_df['Attr36'])
bankruptcy_df['Attr37'] = pd.to_numeric(bankruptcy_df['Attr37'])
bankruptcy_df['Attr38'] = pd.to_numeric(bankruptcy_df['Attr38'])
bankruptcy_df['Attr39'] = pd.to_numeric(bankruptcy_df['Attr39'])
bankruptcy_df['Attr40'] = pd.to_numeric(bankruptcy_df['Attr40'])
bankruptcy_df['Attr41'] = pd.to_numeric(bankruptcy_df['Attr41'])
bankruptcy_df['Attr42'] = pd.to_numeric(bankruptcy_df['Attr42'])
bankruptcy_df['Attr43'] = pd.to_numeric(bankruptcy_df['Attr43'])
bankruptcy_df['Attr44'] = pd.to_numeric(bankruptcy_df['Attr44'])
bankruptcy_df['Attr45'] = pd.to_numeric(bankruptcy_df['Attr45'])
bankruptcy_df['Attr46'] = pd.to_numeric(bankruptcy_df['Attr46'])
bankruptcy_df['Attr47'] = pd.to_numeric(bankruptcy_df['Attr47'])
bankruptcy_df['Attr48'] = pd.to_numeric(bankruptcy_df['Attr48'])
bankruptcy_df['Attr49'] = pd.to_numeric(bankruptcy_df['Attr49'])
bankruptcy_df['Attr50'] = pd.to_numeric(bankruptcy_df['Attr50'])
bankruptcy_df['Attr51'] = pd.to_numeric(bankruptcy_df['Attr51'])
bankruptcy_df['Attr52'] = pd.to_numeric(bankruptcy_df['Attr52'])
bankruptcy_df['Attr53'] = pd.to_numeric(bankruptcy_df['Attr53'])
bankruptcy_df['Attr54'] = pd.to_numeric(bankruptcy_df['Attr54'])
bankruptcy_df['Attr55'] = pd.to_numeric(bankruptcy_df['Attr55'])
bankruptcy_df['Attr56'] = pd.to_numeric(bankruptcy_df['Attr56'])
bankruptcy_df['Attr57'] = pd.to_numeric(bankruptcy_df['Attr57'])
bankruptcy_df['Attr58'] = pd.to_numeric(bankruptcy_df['Attr58'])
bankruptcy_df['Attr59'] = pd.to_numeric(bankruptcy_df['Attr59'])
bankruptcy_df['Attr60'] = pd.to_numeric(bankruptcy_df['Attr60'])
bankruptcy_df['Attr61'] = pd.to_numeric(bankruptcy_df['Attr61'])
bankruptcy_df['Attr62'] = pd.to_numeric(bankruptcy_df['Attr62'])
bankruptcy_df['Attr63'] = pd.to_numeric(bankruptcy_df['Attr63'])
bankruptcy_df['Attr64'] = pd.to_numeric(bankruptcy_df['Attr64'])

bankruptcy_df.dtypes

bankruptcy_df.mean()

Attr1      -0.022347
Attr2       0.465086
Attr3       0.189155
Attr4       4.892476
Attr5      19.406758
             ...
Attr61     10.941497
Attr62    241.978184
Attr63      9.127741
Attr64     65.276716
class       0.069374
Length: 65, dtype: float64

In [111]:
# dropping duplicate values 

bankruptcy_df.drop_duplicates(keep=False,inplace=True)

In [112]:
#delete because of large number of missing values

del bankruptcy_df['Attr37']

In [113]:
#imputing missing values by mean

bankruptcy_df.fillna(bankruptcy_df.mean(), inplace=True)

#number of missing values

bankruptcy_df.isna().sum()

Attr1     0
Attr2     0
Attr3     0
Attr4     0
Attr5     0
         ..
Attr61    0
Attr62    0
Attr63    0
Attr64    0
class     0
Length: 64, dtype: int64

In [114]:
#delete because of high correlation

bankruptcy_df = bankruptcy_df.drop(['Attr11','Attr16','Attr18','Attr22','Attr23','Attr26','Attr31','Attr33',
        'Attr34','Attr35','Attr38','Attr4','Attr40','Attr44','Attr46','Attr48','Attr49','Attr50','Attr54',
        'Attr56','Attr60','Attr62','Attr63','Attr64','Attr7','Attr8'], axis = 1)

pandas.core.frame.DataFrame

In [116]:
Attr1 = np.log(bankruptcy_df.Attr1 + 1)
Attr2 = np.log(bankruptcy_df.Attr2 + 1)
Attr3 = np.log(bankruptcy_df.Attr3 + 1)
Attr5 = np.log(bankruptcy_df.Attr5 + 1)
Attr6 = np.log(bankruptcy_df.Attr6 + 1)
Attr9 = np.log(bankruptcy_df.Attr9 + 1)
Attr10 = np.log(bankruptcy_df.Attr10 + 1)
Attr12 = np.log(bankruptcy_df.Attr12 + 1)
Attr13 = np.log(bankruptcy_df.Attr13 + 1)
Attr14 = np.log(bankruptcy_df.Attr14 + 1)
Attr15 = np.log(bankruptcy_df.Attr15 + 1)
Attr17 = np.log(bankruptcy_df.Attr17 + 1)
Attr19 = np.log(bankruptcy_df.Attr19 + 1)
Attr20 = np.log(bankruptcy_df.Attr20 + 1)
Attr21 = np.log(bankruptcy_df.Attr21 + 1)
Attr24 = np.log(bankruptcy_df.Attr24 + 1)
Attr25 = np.log(bankruptcy_df.Attr25 + 1)
Attr27 = np.log(bankruptcy_df.Attr27 + 1)
Attr28 = np.log(bankruptcy_df.Attr28 + 1)
Attr29 = np.log(bankruptcy_df.Attr29 + 1)
Attr30 = np.log(bankruptcy_df.Attr30 + 1)
Attr32 = np.log(bankruptcy_df.Attr32 + 1)
Attr36 = np.log(bankruptcy_df.Attr36 + 1)
Attr39 = np.log(bankruptcy_df.Attr39 + 1)
Attr41 = np.log(bankruptcy_df.Attr41 + 1)
Attr42 = np.log(bankruptcy_df.Attr42 + 1)
Attr43 = np.log(bankruptcy_df.Attr43 + 1)
Attr45 = np.log(bankruptcy_df.Attr45 + 1)
Attr47 = np.log(bankruptcy_df.Attr47 + 1)
Attr51 = np.log(bankruptcy_df.Attr51 + 1)
Attr52 = np.log(bankruptcy_df.Attr52 + 1)
Attr53 = np.log(bankruptcy_df.Attr53 + 1)
Attr55 = np.log(bankruptcy_df.Attr55 + 1)
Attr57 = np.log(bankruptcy_df.Attr57 + 1)
Attr58 = np.log(bankruptcy_df.Attr58 + 1)
Attr59 = np.log(bankruptcy_df.Attr59 + 1)
Attr61 = np.log(bankruptcy_df.Attr61 + 1)

In [117]:
def normalize(column):
    upper = column.max()
    lower = column.min()
    y = (column - lower)/(upper-lower)
    return y

In [118]:
Attr1_normalized = normalize(Attr1)
Attr2_normalized = normalize(Attr2)
Attr3_normalized = normalize(Attr3)
Attr5_normalized = normalize(Attr5)
Attr6_normalized = normalize(Attr6)
Attr9_normalized = normalize(Attr9)
Attr10_normalized = normalize(Attr10)
Attr12_normalized = normalize(Attr12)
Attr13_normalized = normalize(Attr13)
Attr14_normalized = normalize(Attr14)
Attr15_normalized = normalize(Attr15)
Attr17_normalized = normalize(Attr17)
Attr19_normalized = normalize(Attr19)
Attr20_normalized = normalize(Attr20)
Attr21_normalized = normalize(Attr21)
Attr24_normalized = normalize(Attr24)
Attr25_normalized = normalize(Attr25)
Attr27_normalized = normalize(Attr27)
Attr28_normalized = normalize(Attr28)
Attr29_normalized = normalize(Attr29)
Attr30_normalized = normalize(Attr30)
Attr32_normalized = normalize(Attr32)
Attr36_normalized = normalize(Attr36)
Attr39_normalized = normalize(Attr39)
Attr41_normalized = normalize(Attr41)
Attr42_normalized = normalize(Attr42)
Attr43_normalized = normalize(Attr43)
Attr45_normalized = normalize(Attr45)
Attr47_normalized = normalize(Attr47)
Attr51_normalized = normalize(Attr51)
Attr52_normalized = normalize(Attr52)
Attr53_normalized = normalize(Attr53)
Attr55_normalized = normalize(Attr55)
Attr57_normalized = normalize(Attr57)
Attr58_normalized = normalize(Attr58)
Attr59_normalized = normalize(Attr59)
Attr61_normalized = normalize(Attr61)

# # FEATURE SELECTION USING RANDOM FOREST

In [119]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [120]:
# Create a list of feature names
feature_labels = ['Attr1_normalized','Attr2_normalized','Attr3_normalized','Attr5_normalized','Attr6_normalized','Attr9_normalized','Attr10_normalized',
              'Attr12_normalized','Attr13_normalized','Attr14_normalized','Attr15_normalized','Attr17_normalized','Attr19_normalized','Attr20_normalized',
              'Attr21_normalized','Attr24_normalized','Attr25_normalized','Attr27_normalized','Attr28_normalized','Attr29_normalized','Attr30_normalized',
              'Attr32_normalized','Attr36_normalized','Attr39_normalized',
              'Attr41_normalized','Attr42_normalized','Attr43_normalized','Attr45_normalized','Attr47_normalized',
              'Attr51_normalized','Attr52_normalized','Attr53_normalized','Attr55_normalized','Attr57_normalized','Attr58_normalized','Attr59_normalized',
               'Attr61_normalized']

TypeError: 'module' object is not subscriptable

In [131]:
normalized_attr = [('Attr1_normalized', Attr1_normalized.values),('Attr2_normalized', Attr2_normalized.values),
                  ('Attr3_normalized', Attr3_normalized.values),('Attr5_normalized', Attr5_normalized.values),
                  ('Attr6_normalized', Attr6_normalized.values),('Attr9_normalized', Attr9_normalized.values),
                  ('Attr10_normalized', Attr10_normalized.values),('Attr12_normalized', Attr12_normalized.values),
                  ('Attr13_normalized', Attr13_normalized.values),('Attr14_normalized', Attr14_normalized.values),
                  ('Attr15_normalized', Attr15_normalized.values),('Attr17_normalized', Attr17_normalized.values),
                  ('Attr19_normalized', Attr19_normalized.values),('Attr20_normalized', Attr20_normalized.values),
                  ('Attr21_normalized', Attr21_normalized.values),('Attr24_normalized', Attr24_normalized.values),
                  ('Attr25_normalized', Attr25_normalized.values),('Attr27_normalized', Attr27_normalized.values),
                  ('Attr28_normalized', Attr28_normalized.values),('Attr29_normalized', Attr29_normalized.values),
                  ('Attr30_normalized', Attr30_normalized.values),('Attr32_normalized', Attr32_normalized.values),
                  ('Attr36_normalized', Attr36_normalized.values),('Attr39_normalized', Attr39_normalized.values),
                  ('Attr41_normalized', Attr41_normalized.values),('Attr42_normalized', Attr42_normalized.values),
                  ('Attr43_normalized', Attr43_normalized.values),
                  ('Attr45_normalized', Attr45_normalized.values),('Attr47_normalized', Attr47_normalized.values),
                  ('Attr51_normalized', Attr51_normalized.values),('Attr52_normalized', Attr52_normalized.values),
                  ('Attr53_normalized', Attr53_normalized.values),('Attr55_normalized', Attr55_normalized.values),
                  ('Attr57_normalized', Attr57_normalized.values),('Attr58_normalized', Attr58_normalized.values),
                  ('Attr59_normalized', Attr59_normalized.values),('Attr61_normalized', Attr61_normalized.values),
                  ]

In [132]:
bankruptcy_df_normalized = pd.DataFrame.from_items(normalized_attr)

c:\users\shant\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """Entry point for launching an IPython kernel.

In [133]:
bankruptcy_df_normalized

,Attr1_normalized,Attr2_normalized,Attr3_normalized,Attr5_normalized,Attr6_normalized,Attr9_normalized,Attr10_normalized,Attr12_normalized,Attr13_normalized,Attr14_normalized,...,Attr45_normalized,Attr47_normalized,Attr51_normalized,Attr52_normalized,Attr53_normalized,Attr55_normalized,Attr57_normalized,Attr58_normalized,Attr59_normalized,Attr61_normalized
0,0.408921,0.102719,0.540620,NaN,0.457439,0.175311,0.390254,0.368222,0.303963,0.667077,...,NaN,0.333162,0.143786,0.201414,0.271425,0.636513,0.701248,0.204428,0.351380,0.253424
1,0.396720,0.091985,0.567652,0.322741,0.430859,0.195802,0.405377,0.351963,0.298913,0.646393,...,NaN,0.338368,0.118760,0.189042,0.295136,0.515761,0.683275,0.215164,0.367185,0.213049
2,0.414010,0.046557,0.601266,0.481263,0.446396,0.181325,0.416526,0.398773,0.309486,0.675782,...,NaN,0.321701,0.090292,0.181583,0.342648,0.687456,0.696504,0.198854,0.351151,0.203464
3,0.384888,0.147804,0.571609,NaN,0.423917,0.195770,0.371496,0.337427,0.302893,0.629857,...,NaN,0.366135,0.138225,0.223949,0.261383,0.527062,0.572250,0.158294,0.504542,0.214816
4,0.403880,0.102073,0.553029,NaN,0.430859,0.219616,0.400506,0.363719,0.300477,0.658378,...,NaN,0.320255,0.127126,0.196835,0.282221,0.066634,0.691291,0.184615,0.365917,0.237174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5785,0.399278,0.124361,0.544282,NaN,0.430859,0.234465,0.388022,0.358272,0.297686,0.650169,...,NaN,0.277352,0.091058,0.171825,0.254727,0.543520,0.687151,0.216082,0.443389,0.370432
5786,0.281588,0.157471,0.318951,NaN,0.352900,0.157763,0.305463,0.276999,0.284963,0.485492,...,NaN,0.118791,0.195322,0.180025,0.180625,NaN,0.748103,0.222343,0.349086,0.538933
5787,0.371040,0.189305,0.495027,NaN,0.413034,0.185011,0.316329,0.340537,0.288690,0.615943,...,NaN,0.314874,0.209013,0.221901,NaN,NaN,0.714889,0.195566,0.267520,0.219773
5788,0.382066,0.129453,0.541173,NaN,0.420446,0.145852,0.369527,0.273118,0.289401,0.625846,...,NaN,0.261343,0.081874,0.178224,0.237198,0.467408,NaN,0.236136,0.572837,0.282343
5789,0.382591,0.099943,0.532718,NaN,0.420799,0.159063,0.401567,0.334246,0.289294,0.625686,...,NaN,0.317297,0.141016,0.194947,0.278661,NaN,0.665985,0.220922,0.351512,0.253018

In [134]:
#to check null values in a column

bankruptcy_df_normalized.isna().sum()

Attr1_normalized       25
Attr2_normalized        1
Attr3_normalized       72
Attr5_normalized     2821
Attr6_normalized      137
Attr9_normalized        1
Attr10_normalized      67
Attr12_normalized     115
Attr13_normalized      30
Attr14_normalized      26
Attr15_normalized     856
Attr17_normalized       0
Attr19_normalized      37
Attr20_normalized       1
Attr21_normalized       2
Attr24_normalized      74
Attr25_normalized     118
Attr27_normalized     491
Attr28_normalized     185
Attr29_normalized       0
Attr30_normalized      44
Attr32_normalized       1
Attr36_normalized       0
Attr39_normalized      45
Attr41_normalized     112
Attr42_normalized      39
Attr43_normalized       1
Attr45_normalized    5790
Attr47_normalized       1
Attr51_normalized       0
Attr52_normalized       0
Attr53_normalized     148
Attr55_normalized    1106
Attr57_normalized     162
Attr58_normalized       0
Attr59_normalized      94
Attr61_normalized       0
dtype: int64